{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="row">
    <div class="col">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">File Name</th>
                    <th scope="col">Course</th>
                    <th scope="col">Semester</th>
                    <th scope="col">Uploaded By</th>
                    <th scope="col">Upload Date</th>
                    <th scope="col">Operation</th>
                </tr>
            </thead>
            <tbody>
                {% for file in page_obj %}
                    <tr>
                        <td>{{ file.filename|truncatechars:30 }}</td>
                        <td>{{ file.course }}</td>
                        <td>{{ file.semester }}</td>
                        <td>{{ file.user.username|truncatechars:15 }}</td>
                        <td>{{ file.date_uploaded }}</td>
                        <td><a href="{% url 'pc-calc:update' file.id %}"><i class="far fa-edit"></i></a> | <a href="{% url 'pc-calc:delete-file-only' file.id %}"><i class="fas fa-folder-minus"></i></a> | <a href="{% url 'pc-calc:delete' file.id %}"><i class="far fa-trash-alt"></i></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page=1">&laquo; First</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.number|add:"-1" }}</a></li>
                {% endif %}
                <li class="page-item active"><a class="page-link" href="#">{{ page_obj.number }}</a></li>
                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.number|add:"1" }}</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
<div class="row">
    <div class="col">
        <form class="form-inline" action="{% url 'pc-calc:course-report' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label>Show uploaded status of courses for the semester:&nbsp;</label>
                <select class="form-control" name="semester">
                    {% for sem in semesters %}
                        <option value="{{ sem.id }}">{{ sem }}</option>
                    {% endfor %}
                </select>
            </div>
            <button class="btn btn-secondary" type="submit">Show</button>
        </form>
    </div>
</div>

{% endblock %}