{% extends 'base.html' %}
{% block content %}

<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">PÇ Link</h1>
        <p>PÇ Link is a Python-based web application that is designed to simplify the management of course outcome
            calculations. If you are a registered member, you can log in to the system, start analyzing reports and
            upload course outcome files for courses.</p>
        <p>You may contact with <a href="mailto:tolga.ustunkok@atilim.edu.tr">tolga.ustunkok@atilim.edu.tr</a> for more
            questions and support.</p>
        <p><a class="btn btn-primary btn-lg" href="{% url 'courseoutcome-home' %}" role="button">Start now</a></p>
    </div>
</div>

{% endblock %}