{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col-8">
        <div class="table-responsive">
            <table class="table table-sm table-striped table-hover">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>ID</th>
                        <th>Name &amp; Surname</th>
                        <th>Department</th>
                        {% for chosen_co in chosen_cos %}
                            <th>{{ chosen_co.code }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for student in object_list %}
                    <tr>
                        <td>{{ forloop.counter0|add:page_obj.start_index }}</td>
                        <td>{{ student.0 }}</td>
                        <td>{{ student.1 }}</td>
                        <td>{{ student.2 }}</td>
                        {% for coa in student.3 %}
                            <td>{{ coa }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="pagination">
            {% if page_obj.has_previous %}
                <a class="btn btn-outline-primary mb-4" href="?page=1">&laquo; First</a>
                <a class="btn btn-outline-primary mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
                <a class="btn btn-outline-primary mb-4" href="?page={{ page_obj.next_page_number }}">next</a>
                <a class="btn btn-outline-primary mb-4" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </div>
    </div>
    <div class="col-4 text-center">
        <h5><br>Choose which records you want to see.<br></h5>
        <form action="{% url 'courseoutcome:query' %}" method="POST">
            {% csrf_token %}
            <div class="form-group"><label>Students</label><select class="form-control" name="student_no">
                    <option value="all">All students</option>
                    {% for student in students %}
                        <option value="{{ student.no }}">{{ student.name }}</option>
                    {% endfor %}
                </select></div>
            <div class="form-group"><label>Course Outcome</label><select class="form-control" name="co_code">
                    <option value="all" selected="">All course outcomes</option>
                    {% for outcome in outcomes %}
                        <option value="{{ outcome.code }}">{{ outcome.code }}</option>
                    {% endfor %}
                </select></div>
            <div class="form-group"><label>Department</label><select class="form-control" name="department_code">
                    {% for department in departments %}
                        <option value="{{ department.code }}">{{ department.code }}</option>
                    {% endfor %}
                </select></div>
            <div class="form-group"><label>Semester</label><select class="form-control" name="semester_pk">
                    {% for semester in semesters %}
                        <option value="{{ semester.pk }}">{{ semester.year_interval }} {{ semester.period_name }}</option>
                    {% endfor %}
                </select></div><button class="btn btn-primary btn-lg" type="submit">Bring These Records</button>
        </form>
    </div>
</div>
<div class="row">
    <div class="col">
        <form class="form-inline" action="{% url 'courseoutcome:export' %}" method="POST">
            {% csrf_token %}
            <div class="form-group"><label>Export all records as:&nbsp;</label><select class="form-control"
                    name="exp_type">
                    <option value="csv">Comma separated values (.csv)</option>
                    <option value="excel">Excel spreadsheet (.xlsx)</option>
                </select></div>
            <button class="btn btn-secondary" type="submit">Download</button>
        </form>
    </div>
</div>

{% endblock %}