{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col-8">
        <h4 class="cover-heading">Hi {{ user.username }},<br>Please upload your course outcome file.</h4>
        <p>The course outcome file should be in .csv format. You can find an example .csv file opened as a spreadsheet
            on the side. The first column - <em>student_id</em> - represents the <b>ID</b> of the student, the second
            column - <em>name</em> - represents the <b>name</b> and <b>surname</b> of the student, and the remaining
            columns are the course outcomes (PÇ1, PÇ2, etc.) of the course. The names of those columns should be the
            exact codes of the PÇs.</p>
        <div class="alert alert-warning" role="alert">
            You have to choose the <b>semester</b> and <b>course</b> that are relevant to the file to be uploaded.
        </div>
        <form method="POST" enctype="multipart/form-data" action="{% url 'courseoutcome-upload' %}">
            {% csrf_token %}
            <div class="form-group">
                <select class="form-control" name="courseSel">
                    <option value="no">Pick a course</option>
                    {% for course in courses %}
                    <option value="{{ course.code }}">{{ course.code }} - {{ course.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <select class="form-control" name="semesterSel">
                    <option value="no">Semester</option>
                    {% for semester in semesters %}
                    <option value="{{ semester.pk }}">{{ semester.year_interval }} {{ semester.period_name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <input type="file" name="csvFile" class="form-control">
            </div>

            <button type="submit" class="btn btn-lg btn-primary">Upload</button>
        </form>
    </div>
    <div class="col-4">
        <h4>An Example Input File</h4>
        <img src="{% static 'courseoutcome/img/sample_input.png' %}" class="img-fluid">
    </div>
</div>
{% endblock %}