asgiref==3.3.1
Django==3.1.6
django-crispy-forms==1.11.0
djangorestframework==3.12.2
et-xmlfile==1.0.1
fontawesome-free==5.15.2
jdcal==1.4.1
numpy==1.20.1
openpyxl==3.0.6
pandas==1.2.2
pip-autoremove==0.9.1
python-dateutil==2.8.1
pytz==2021.1
six==1.15.0
sqlparse==0.4.1
uWSGI==2.0.19.1
