{% extends 'dashboard-base.html' %}
{% load crispy_forms_tags %}

{% block page_title %}Login{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-8">
            <div class="content-section">
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        {{ form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-outline-info" type="submit">Login</button>
                        <small class="text-muted">
                            <a class="ml-2" href="{% url 'reset-password' %}">Forgot password?</a>
                        </small>
                    </div>
                </form>
                <div class="border-top pt-3">
                    <small class="text-muted">
                        Need an account? <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a>
                    </small>
                </div>
            </div>
        </div>
        <div class="col-4"></div>
    </div>
{% endblock %}