{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="row">
    <div class="col-4 text-center">
        <img class="img-thumbnail" src="{{ user.profile.image.url }}" width="200px" height="200px">
        <h2>{{ user.username }}</h2>
        <p class="text-secondary">{{ user.email }}</p>
        <p><a href="{% url 'reset-password' %}">Reset Password</a></p>
        {% if user.is_superuser %}
            <div class="card border-danger text-center mx-auto" style="max-width: 18rem;">
                <div class="card-body text-danger">
                <h5 class="card-title">Danger Zone</h5>
                <p class="card-text"><a class="btn btn-outline-danger" href="{% url 'pc-calc:recalculate-all-pos' %}">Recalculate All PO Results</a></p>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="col-8">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Profile Info</legend>
                {{ u_form|crispy }}
                {{ p_form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Update Profile</button>
            </div>
        </form>
        {% if user.is_superuser %}
            <form method="POST" enctype="multipart/form-data" action="{% url 'pc-calc:update-students' %}">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom  mb-4">Update Student Information</legend>
                    {{ stu_bulk_form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Update Students</button>
                </div>
            </form>
            <h4 class="border-bottom  mb-4">Maintenance</h4>
            <p><a href="{% url 'maintenance_mode_on' %}">Set Maintenance Mode</a> | <a href="{% url 'toggle-registrations' %}">Toggle Registrations ({{ reg_status }})</a></p>
        {% endif %}
    </div>
</div>

{% endblock %}
