<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                {% url 'pc-calc:upload' as url %}
                <a class="nav-link{% if request.path == url or request.path == '/' %} active{% endif %}" href="{% url 'pc-calc:upload' %}">
                    <span data-feather="home"></span>
                    Upload PO File <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                {% url 'pc-calc:report' as url %}
                <a class="nav-link{% if request.path == url %} active{% endif %}" href="{% url 'pc-calc:report' %}">
                    <span data-feather="bar-chart-2"></span>
                    Reports
                </a>
            </li>
            <li class="nav-item">
                {% url 'pc-calc:manage' as url %}
                <a class="nav-link{% if request.path == url %} active{% endif %}" href="{% url 'pc-calc:manage' %}">
                    <span data-feather="file"></span>
                    Manage Uploaded Files
                </a>
            </li>
        </ul>

        {% if user.is_authenticated %}
        <h6
            class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Admin Panel</span>
        </h6>
        <ul class="nav flex-column mb-2">
            <li class="nav-item">
                {% url 'profile' as url %}
                <a class="nav-link{% if request.path == url %} active{% endif %}" href="{% url 'profile' %}">
                    <span data-feather="file-text"></span>
                    Profile
                </a>
            </li>
            {% if user.is_superuser %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'admin:index' %}">
                    <span data-feather="file-text"></span>
                    Admin
                </a>
            </li>
            {% endif %}
        </ul>
        {% endif %}
        <h6
            class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Build v2.2.6-<a href="https://github.com/tustunkok/pc-link/commit/{{ latest_commit }}">{{ latest_commit }}</a></span>
        </h6>
        <ul class="nav flex-column">
            <li class="nav-item">
                {% url 'pc-calc:changelog' as url %}
                <a class="nav-link{% if request.path == url %} active{% endif %}" href="{% url 'pc-calc:changelog' %}">
                    <span data-feather="shopping-cart"></span>
                    What's New?
                </a>
            </li>
            {% if user.is_authenticated and user.is_superuser %}
            {% url 'pc-calc:logs' as url %}
            <li class="nav-item">
                <a class="nav-link{% if request.path == url %} active{% endif %}" href="{% url 'pc-calc:logs' %}">
                    <span data-feather="shopping-cart"></span>
                    Logs
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>